# credentials
creds.json

# misc
__pycache__/
.ipynb_checkpoints/
.vscode/

# nbs 
reed.ipynb

# package management
Pipfile
Pipfile.lock

reed.egg-info/

tests/.pytest_cache
LICENSE
.pytest_cache
conftest.py

build/
dist/